*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem;
  font-size: 1.6rem;
  color: #222;
  background: #f0f0f0;
  font-family: Helvetica, sans-serif;
}

main {
  margin: 0 auto;
  width: 90%;
  max-width: 60rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #444;
  border-right: solid 0.1rem #f0f0f0;
}

li {
  padding: 1rem 2rem;
}

li:not(:first-child) {
  border-top: solid 0.1rem #f0f0f0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #fff;
}

.options__suggestions {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.333%;
}

.options__suggestions ul {
  height: 100%;
}

.options__products {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 2rem;
}

.options__products .tile {
  flex: 0 0 48%;
}

.suggestion-text {
  color: #AAA;
}

.suggestion-text__term {
  color: #222;
}

.suggestion-text__department {
  color: #222;
  text-decoration: underline;
}

.tile {
  background: #fff;
  box-shadow: 0 0.3rem 2rem -0.5rem rgba(0, 0, 0, 0.15);
}

.tile__header {

}

.tile__body {

}

.tile__footer {

}

.input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  color: #444;
  background: #fff;
  box-shadow: 0 0.3rem 2rem -0.3rem rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  line-height: 4.4rem;
}

.input__field {
  flex: 1 1 80%;
  background: transparent;
  border: 0;
  padding: 0 2rem;
  font-size: inherit;
}

.input__cta {
  width: 4.4rem;
  height: 4.4rem;
  border: 0;
  position: relative;
  transition: background 0.15s;
  cursor: pointer;
}

.input__cta:hover,
.input__cta:focus {
  background: rgba(0, 0, 0, 0.05);
}

.input__cta::before,
.input__cta::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 0.2rem;
  background: #222;
}

.input__cta::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.input__cta::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.input__cta span {
  opacity: 0;
  position: absolute;
  top: -99999px;
  left: -99999px;
}
